# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  skip: [pylint] # pylint will fail in pre-commit ci, because it doesn't have the executable

repos:
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 26.1.0
  hooks:
  - id: black
    args: [--safe]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: debug-statements
    language_version: python3

- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    args: [--max-line-length=120]
    language_version: python3

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    files: ^src/
    args: []

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: venv/Scripts/pylint.exe
    language: system
    types: [python]
    args: ["--rcfile=.pylintrc"]
