name: Tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          enable-caching: true
      - run: uv sync --python 3.12
      - run: uv run pytest

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          enable-caching: true
      - run: uv sync
      - run: uv run mypy news_crawlers
      - run: uv run pylint news_crawlers tests

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          enable-caching: true
      - run: uv sync
      - run: uv run pytest --cov=news_crawlers --cov-report=xml --cov-report=term
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: coverage.xml
          fail_ci_if_error: false

  publish-pypi:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs: [test, lint]
    uses: jprevc/workflows/.github/workflows/publish-pypi.yml@v1.2.0
    secrets: inherit

  publish-dockerhub:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs: [test, lint, publish-pypi]
    uses: jprevc/workflows/.github/workflows/publish-dockerhub.yml@v1.2.0
    secrets: inherit
