name: Tests

on:
  - push
  - pull_request

jobs:
  tox:
    uses: jprevc/workflows/.github/workflows/tox.yml@v1.2.0
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install package with test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[test]"
      - name: Run tests with coverage
        run: pytest --cov=news_crawlers --cov-report=xml --cov-report=term
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: coverage.xml
          fail_ci_if_error: false
  publish-pypi:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs: tox
    uses: jprevc/workflows/.github/workflows/publish-pypi.yml@v1.2.0
    secrets: inherit
  publish-dockerhub:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs: [tox, publish-pypi]
    uses: jprevc/workflows/.github/workflows/publish-dockerhub.yml@v1.2.0
    secrets: inherit
